/*------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------MOBILE---------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1280px){
/*---------------------------------------------------------BODY---------------------------------------------------------------------*/
    body{
        background-image: url("../img/planks1.webp");
        background-size: 100%;
        color: white;
    }
    p{
        font-size: 5vw;
    }
/*---------------------------------------------------------HEADER-------------------------------------------------------------------*/
    header{
        background-image: url("../img/background1.webp");
        background-size: 100%;
    }
    nav{
        background:linear-gradient(to top,#00365C,#00243D);
        border-bottom: white 3px solid;
        font-size: 6vw;
        text-align: center;
        margin-bottom: 50%;
    }
    .nav_title{
        font-size: 5vw;
        font-weight: bold;
    }
    nav a:hover{
        background:linear-gradient(to top,#00365C,#1F65A6);
        border-top: 3px white double;
    }
    #banner{
        padding-top: 25%;
        padding-bottom: 2%;
        text-align: center;
    }
    #banner h1{
        font-size: 8vw;
    }
    #banner h2{
        font-size: 6vw;
    }
/*---------------------------------------------------------ARTICLE------------------------------------------------------------------*/
    .art{
        background-color: rgba(62,62,62,1);
        width: 100%;
        height: auto;
        color: white;
        margin-bottom: 8%;
        padding-bottom: 5%;
        padding-top: 3%;
    }
    .title{
        border-bottom: 5px white solid;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        font-size: 10vw;
        font-weight: bold;
        padding-bottom: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }
/*---------------------------------------------------------EXPERIENCE---------------------------------------------------------------*/
    .year{
        border-top: 5px white solid;
        border-bottom: 5px white solid;
        font-size: 7vw;
        font-weight: bold;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .experience{
        background:linear-gradient(to top,#3E3E3E,#00243D);
        border-top: 4px white solid;
        text-align: center;
        margin-top: 5%;
        padding: 5%
    }
    .img{
        border: 5px #00365C solid;
        width: 50vw;
        height: 50vw;
        margin-bottom: 5%;
        background-color: white;
    }
/*---------------------------------------------------------SKILL--------------------------------------------------------------------*/
    .skill_icon{
        width: 30vw;
        height: 35vw;
    }
    .flag_icon{
        width: 50vw;
        height: 35vw;
    }
/*---------------------------------------------------------PROJECTS-----------------------------------------------------------------*/
    .project_img{
        border: 5px #00365C outset;
        border-radius: 5%;
        width: 900px;
        height: 500px;
        opacity: 0.3;
    }
    .project_title{
        border-top: 5px white solid;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        font-size: 2.7em;
        padding-top: 1em;
    }
/*---------------------------------------------------------CONTACT------------------------------------------------------------------*/
    .coords{
        margin-top: 10%;
        font-size: 10vw;
    }
    .network_icon{
        border: 3px white outset;
        border-radius: 100%;
        width: 25vw;
        height: 25vw;
        background-color: white;
        margin-bottom: 5%;
    }
}
/*------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------DESKTOP--------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1280px){
/*---------------------------------------------------------BODY---------------------------------------------------------------------*/
    body{
        background-image: url("../img/planks1.webp");
        background-size: 100%;
        color: white;
    }
    p{
        font-size: 2em;
    }
/*---------------------------------------------------------HEADER-------------------------------------------------------------------*/
    header{
        background-image: url("../img/background1.webp");
        background-size: 100%;
    }
    nav{
        background:linear-gradient(to top,#00365C,#00243D);
        border-bottom: white 3px solid;
        font-size: 1em;
        text-align: center;
        }
        .nav_title{
            font-size: 2em;
            font-weight: bold;
        }
        nav a:hover{
            background:linear-gradient(to top,#00365C,#1F65A6);
            border-top: 3px white double;
        }
        #banner{
            padding-top: 25%;
            padding-bottom: 2%;
            text-align: center;
        }
        #banner h1{
            font-size: 8vw;
        }
        #banner h2{
            font-size: 6vw;
        }
/*---------------------------------------------------------ARTICLE------------------------------------------------------------------*/
        .art{
            background-color: rgba(62,62,62,1);
            width: 100%;
            height: auto;
            color: white;
            margin-bottom: 8%;
            padding-bottom: 5%;
            padding-top: 3%;
        }
        .title{
            border-bottom: 5px white solid;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 40%;
            font-size: 10vw;
            font-weight: bold;
            padding-bottom: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            text-align: center;
        }
/*---------------------------------------------------------EXPERIENCE---------------------------------------------------------------*/
        .year{
            border-top: 5px white solid;
            border-bottom: 5px white solid;
            font-size: 7vw;
            font-weight: bold;
            margin-top: 5%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        .experience{
            background:linear-gradient(to top,#3E3E3E,#00243D);
            border-top: 4px white solid;
            text-align: center;
            margin-top: 5%;
            padding: 5%
        }
        .img{
            border: 5px #00365C solid;
            width: 50vw;
            height: 50vw;
            margin-bottom: 5%;
            background-color: white;
        }
/*---------------------------------------------------------SKILL--------------------------------------------------------------------*/
        .skill_icon{
            width: 30vw;
            height: 35vw;
        }
        .flag_icon{
            width: 50vw;
            height: 35vw;
        }
/*---------------------------------------------------------PROJECTS-----------------------------------------------------------------*/
        .project_img{
            border: 5px #00365C outset;
            border-radius: 5%;
            width: 900px;
            height: 500px;
            opacity: 0.3;
        }
        .project_title{
            border-top: 5px white solid;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            font-size: 2.7em;
            padding-top: 1em;
        }
/*---------------------------------------------------------CONTACT------------------------------------------------------------------*/
        .coords{
            margin-top: 10%;
            font-size: 10vw;
        }
        .network_icon{
            border: 3px white outset;
            border-radius: 100%;
            width: 25vw;
            height: 25vw;
            background-color: white;
            margin-bottom: 5%;
        }
    }
    
    
    
    
    
    
    
    
    






















/* All --------------------------------------------------------------------------------------------------------------------------/
body{
    background-image: url("../img/absttrait.webp");
    background-size: 100%;
    position: relative;
}
.title{
    border-bottom: 5px white solid;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 7%;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 15px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
li{
    list-style: none;
}
nav a:hover{
    background:linear-gradient(to top,#00365C,#1F65A6);
    border-top: 3px white double;
}
/* Mobile -----------------------------------------------------------------------------------------------------------------------/
@media (max-width: 1280px)
{
    p, li, label{
        font-size: 2em;
    }
    h2, .send_button{
        font-size: 2.5em;
    }
    .art{
        display: flex;
        flex-direction: column;
        background-color: rgba(62,62,62,1);
        width: 100%;
        height: auto;
        color: white;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }
    #banner{
        text-align: center;
        background-image: url("../img/background1.webp");
        background-size: cover;
        color: white;
        height: auto;
        padding-top: 8%;
        padding-bottom: 2%;
    }
    #banner h1{
        font-size: 4em;
    }
    #banner h2{
        font-size: 3em;
    }
    nav{
        background:linear-gradient(to top,#00365C,#00243D);
        border-bottom: white 3px solid;
        font-size: 2em;
        text-align: center;
    }
    .nav_title{
        font-size: 1em;
        font-weight: bold;
    }
    .card_mobile{
        margin-bottom: 5%;
    }
    .year{
        border-top: 5px white solid;
        border-bottom: 5px white solid;
        font-size: 2em;
        font-weight: bold;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    .experience{
        background:linear-gradient(to top,#3E3E3E,#00243D);
        border-top: 4px white solid;
        text-align: center;
    }
    .img{
        border: 5px #00365C solid;
        width: 250px;
        height: 250px;
        background-color: white;
    }
    .skill{
        text-align: center;
    }
    .skill_icon{
        width: 150px;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
    }
    .flag_icon{
        width: 180px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact_network li{
        display: inline-block;
        list-style: none;
    }
    .icon{
        border: 3px white outset;
        border-radius: 100%;
        width: 150px;
        height: 150px;
        background-color: white;
    }
    .project_img{
        border: 5px #00365C outset;
        border-radius: 5%;
        width: 900px;
        height: 500px;
        opacity: 0.3;
    }
    .project_title{
        border-top: 5px white solid;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        font-size: 2.7em;
        padding-top: 1em;
    }
}
/* Desktop ----------------------------------------------------------------------------------------------------------------------/
@media (min-width: 1280px)
{
    #banner{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        background-image: url("../img/background1.webp");
        background-size: cover;
        border: 1px black solid;
        border-bottom: 0px;
        color: white;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        height: 300px;
    }
    p{
        font-size: 1.5em;
    }
    nav{
        background:linear-gradient(to top,#00365C,#00243D);
        border-bottom: white 3px solid;
    }
    .art{
        display: flex;
        flex-direction: column;
        background-color: rgba(62,62,62,1);;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: auto;
        color: white;
        margin-bottom: 15px;
        padding-bottom: 5%;
    }
    .present{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .present_photo{
        width: 35%;
        margin-top: 3%;
        margin-left: 5%;
    }
    .present_photo li{
        font-size: 20px;
    }
    .present_photo li:before {
        font-size: 30px;
        content: "→ ";
    }
    .present_description{
        width: 65%;
        margin-top: 3%;
        margin-right: 5%;
        text-align: center;
        font-size: 30px;
    }
    .experience{
        background:linear-gradient(to left,#3E3E3E,#00243D);
        border-left: 4px white solid;
    }
    .formation{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        border: 5px #00365C outset;
        margin-left: 10%;
        margin-top: 1%;
        background-color: #555555;
        text-align: center;
    }
    .experience_description{
        font-size: 25px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: auto;
        padding-bottom: auto;
    }
    .experience_title{
        text-decoration: underline;
    }
    .img{
        border: 5px #00365C solid;
        width: 150px;
        height: 150px;
        background-color: white;
    }
    .year{
        border-left: 5px white solid;
        border-right: 5px white solid;
        width: auto;
        height: 40px;
        font-size: 25px;
        margin-top: 50px;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3%;
        padding-right: 3%;
    }
    .formation_description{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .formation_title{
        text-decoration: underline;
        text-align: center;
    }
    .progress{
        width: 80%;
        text-align: center;
        margin-bottom: 40px;
        margin-left: 5%;
    }
    .skill_title{
        text-align: center;
        font-size: 25px;
        text-decoration: underline;
    }
    .skill_description{
        text-align: center;
        font-size: 20px;
    }
    .skill_icon{
        width: 120px;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
    }
    .flag_icon{
        width: 140px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .project{
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    #memento, #cv{
        margin-left: 5%;
        margin-top: 5%;
    }
    .project_img{
        border: 5px #00365C outset;
        border-radius: 5%;
        width: 1800px;
        height: 900px;
        opacity: 0.3;
    }
    .project_title{
        border-top: 5px white solid;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        font-size: 2.7em;
        padding-top: 1em;
    }
    .contact_network li{
        display: inline-block;
        list-style: none;
    }
    .icon{
        border: 3px white outset;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        background-color: white;
    }
    .icon:hover{
        border: 10px white outset;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        background-color: white;
    }
}*/