body{
    background-image: url("/home/maxime/Documents/www/cvNumerique/assets/img/planks1.webp");
    background-size: 100%;
}
#banner{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: url("/home/maxime/Documents/www/cvNumerique/assets/img/code.webp");
    background-size: cover;
    border: 1px black solid;
    border-bottom: 0px;
    color: white;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 300px;
}
#uparrow{
    border: 3px black outset;
    border-radius: 50%;
    background-color: lightgray;
    position: fixed;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin-left: 95%;
    margin-top: 18%;
}
nav{
    display: inline-block;
    border: 1px black solid;
    border-top: 0px;
    border-bottom: 3px black solid;
    background-color: #00365C;
    width: 100%;
    text-align: right;
}
nav li{
    display: inline-block;
    margin-right: 15px;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-bottom: 16px;
    padding-top: 14px;
}
nav a:hover{
    color: white;
    border-bottom: 4px white solid;
    border-top: 3px white double;
}
.art{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    background-color: #3E3E3E;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5%;
}
.title{
    border-bottom: 5px white solid;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 80px;
    font-size: 35px;
    padding-bottom: 15px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
.present{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.present_photo{
    width: 35%;
    margin-top: 3%;
    margin-left: 5%;
}
.present_photo li{
    font-size: 20px;
}
.present_photo li:before {
    font-size: 30px;
	content: "→ ";
}
.present_photo ul, nav ul, .contact_1 ul, .contact_2 ul{
    list-style: none;
}
.present_description{
    width: 65%;
    margin-top: 3%;
    margin-right: 5%;
    text-align: center;
    font-size: 30px;
}
.experience{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    height: 150px;
    border: 5px #00365C outset;
    margin-left: 10%;
    margin-top: 1%;
    text-align: center;
    background-color: #555555;
}
.formation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    border: 5px #00365C outset;
    margin-left: 10%;
    margin-top: 1%;
    background-color: #555555;
    text-align: center;
}
.experience_description{
    font-size: 25px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
}
.experience_title{
    text-decoration: underline;
}
.img{
    border-bottom: 5px #00365C outset;
    border-right: 5px #00365C outset;
    width: 150px;
    height: 150px;
    background-color: white;
}
.year{
    border-left: 5px white solid;
    border-right: 5px white solid;
    width: auto;
    height: 40px;
    font-size: 25px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
}
.formation_description{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.formation_title{
    text-decoration: underline;
    text-align: center;
}
.skill{
    width: 90%;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}
.progress{
    width: 80%;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 5%;
}
.skill_title{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}
.skill_description{
    text-align: center;
    font-size: 20px;
}
.skill_icon{
    width: 80px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}
.flag_icon{
    width: 110px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.contact{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.contact_title{
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
}
.contact_1{
    width: 35%;
    margin-left: 5%;
    margin-top: 2%;
}
.contact_2{
    width: 65%;
    margin-left: auto;
    margin-top: 2%;
    margin-right: 5%;
}
.contact_coor{
    font-size: 25px;
}
.contact_coor, .contact_network{
    margin-bottom: 5%;
}
.contact_network li{
    display: inline-block;
}
.icon{
    border: 3px white outset;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: white;
}
.icon:hover{
    border: 10px white outset;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: white;
}